.contact {
  width: 70rem;

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 8.5rem);
  background-color: rgb(30, 32, 43);
}

.aside {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
}
.header {
  padding-top: 1rem;
}
