.area {
  display: flex;
  flex-direction: column;

  justify-content: center;
  background-color: #262936;
  height: 20rem;
  align-items: flex-start;

  width: 25rem;
  border-radius: 14px;
}

.map {
  display: flex;
  align-items: center;
  justify-self: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 14px 14px 0 0;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.contact-info div {
  width: fit-content;
}

.first {
  grid-column: 1/3;
}

.contact-info span {
  color: rgba(255, 255, 255, 0.603);
  font-size: 12px;
}

.contact-info svg {
  color: #1da5dc;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
